
/* CSS buttons */
.button {
    -fx-text-fill: white;
    -fx-font-family: "Candara";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 8, 0.0 , 0 , 1 );
}


.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 16px;
}


.button:focused{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 16px;
}


.button-torneo{
    -fx-text-fill: white;
    -fx-font-family: "Candara";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 8, 0.0 , 0 , 1 );
}
.button-torneo:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 11px;
}


.button-torneo:focused{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 11px;
}

.button-torneo-finale
{
    -fx-text-fill: white;
    -fx-font-family: "Candara";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 8, 0.0 , 0 , 1 );
}
.button-torneo-finale:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 14px;
}


.button-torneo-finale:focused{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 14px;
}



/* CSS toggle-button */
.toggle-button{
    -fx-text-fill: white;
    -fx-font-family: "Candara";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.toggle-button:hover{
-fx-background-color: linear-gradient(#2A5058, #61a2b1);
-fx-font-size: 16px;
}

.toggle-button:focused{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 16px;
}

/* CSS text-field */
.text-field
{
    -fx-background-color: #a9a9a9 , #0a7ec4 , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , #0a7ec4 , white;
    -fx-background-insets: 0 -1.5 -1.5 -1.5, 0 0 0 0, -2 -3 5 -3;
}



/* CSS menu-bar */
.menu-bar {
    -fx-background-color: #0a7dc4 ;
    -fx-opacity: 1;
    -fx-border-width: 2.0;

}
.menu-bar .label {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Candara";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /**-fx-padding: 10.0px;
    */

}

/* CSS menu-items */
.menu-item {
    -fx-padding: 1.0em 1.0em 1.0em 1.0em;
    -fx-text-fill: white;
    -fx-background: #0a7dc4 ;
}
.menu-item .label{
    -fx-font-size: 14.0 pt;
    -fx-text-fill: white;
}
.menu-item .label:hover{
    -fx-font-size: 14.0 pt;
    -fx-background: #0a7dc4 ;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #0a7dc4;
}

.context-menu .menu-item {
    -fx-background: #0a7dc4;
}

.context-menu .menu-item:hover .label {
    -fx-font-size: 14.0pt;
    -fx-background: #0a7dc4;
    -fx-text-fill: white;
}


/* CSS scroll-pane */

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #135378;
    -fx-pref-width: 10px;
}

.scroll-pane .scroll-bar:vertical .increment-button {
    -fx-background-color: #158dcf;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: #158dcf;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #158dcf;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5px;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #4aa0d9;
}


/* CSS anchor-pane carte */

.anchor-pane-carta > .image-view:hover {
    -fx-effect: dropshadow(gaussian, blue, 10, 0, 0, 0);
}


.carta:focused {
    -fx-effect: dropshadow(gaussian, blue, 10, 0, 0, 0);
}


/* CSS combo-box */

.combo-box {
    -fx-background-color: #0a7dc4 ;
    -fx-border-color: #0a7dc4 ;
    -fx-border-width: 2.0;
    -fx-font-size: 12.0pt;
    -fx-font-family: "Candara";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.combo-box .list-cell {
    -fx-background-color: #0a7dc4 ;
    -fx-text-fill: white;
}

.combo-box .list-cell:hover {
    -fx-background-color: #0a7dc4 ;
    -fx-text-fill: white;
}

.combo-box .arrow {
    -fx-background-color: #0a7dc4 ;
}



